* {
	font-family: "microsoft yahei";
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

header {
	width: 100%;
	height: 90px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #333333;
	justify-content: flex-start;
	align-content: center;
	color: #fff;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.logo-a {
	width: 60%;
	height: 90%;
	margin-left: 8px;
	display: flex;
	align-items: center;
}

.logo-a img {
	height: 95%;
}

.menu {
	display: flex;
	position: absolute;
	right: 20px;
	width: 12%;
	font-size: 40px;
	color: #fff;
	align-items: center;
	justify-content: center;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 101;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 100px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 100;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=88);
}

.footer {
	width: 100%;
	height: 120px;
	margin-top: 10px;
	background-color: #333333;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fafafa;
}

.read {
	width: 94%;
	height: 300px;
	background-color: #FFFFFF;
	margin-bottom: 15px;
	border-radius: 8px;
	box-shadow: 3px 3px 1px #f3f3f3;
	border: 1px solid #f3f3f3;
}
