* {
	font-family: "microsoft yahei";
	padding: 0;
}
a {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}
header {
	width: 100vw;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E6A23C;
	margin: 0;
	justify-content: center;
	color: #606266;
}